@import "__fonts.sass"

.catalog
  &__cards
    width: 100%
    display: flex
    flex-wrap: wrap
    &--title
      width: 85.4%
      height: 345px
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
    &--card
      width: 254px
      height: 390px
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid rgba(0, 0, 0, 0.3)
      .img
        width: 100%
        height: 140px
        background-color: rgba(0, 0, 0, 0.3)
      .title
        font-size: 20px
        font-weight: bold
        line-height: 23px
        margin-top: 15px
        
        color: #0D56A6
      .price
        font-size: 36px
        font-weight: bold
        line-height: 42px
        margin: 25px 0
        
        color: #0D56A6
      .availability
        display: flex
        align-items: center
        justify-content: center
        .item
          width: 39px
          height: 39px
          border-radius: 50%
          color: #fff
          font-size: 2rem
        p
          margin-left: 5px
      a
        display: flex
        align-items: center
        justify-content: center
        width: 144px
        height: 35px
        background-color: rgba(13, 86, 166, 0.7)
        border-radius: 5px
        
        color: #fff
        text-decoration: none
        &:hover
          color: #fff
          text-decoration: none