@import "__colors.sass"
@import "__fonts.sass"

*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    min-width: 1440px
    overflow-x: hidden !important

.mp0
    margin: 0
    padding: 0

.pt24
    padding-top: 24px !important

.h95
    height: 95% !important

.active
    width: 100px
    justify-content: center
    background-color: $blue-main
    color: #fff !important
    border: 1px solid $yellow-main

.availability
    margin-bottom: 10px
    display: flex
    align-items: center
    justify-content: center
    .item-stock, .item-order
        width: 39px
        height: 39px
        border-radius: 50%
    .item-stock
        background: url(../images/icon-stock.png) no-repeat center
    .item-order
        background: url(../images/icon-order.png) no-repeat center
    p
        margin: 0 0 0 5px
.stock
    color: #2ECC71 !important
.order
    color: #F1C40F !important

.active-dot
    background-color: #fffdf7 !important

.btn-active
    display: flex
    align-items: center
    justify-content: center
    color: #fff !important
    border-radius: 10px
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
    background-color: rgba(13, 86, 166, 0.7)

.dropdown--menu
    display: none
    width: 262px
    font-family: "Roboto", sans-serif
    position: absolute
    top: 7.5rem
    background-color: $blue-main
    color: #fff
    border-radius: 0 10px 10px 0
    z-index: 200
    .close-window
        display: none
        position: fixed
        z-index: 1000
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-color: #000
        opacity: 0
    ul
        position: relative
        z-index: 10001
        margin: 0
        padding: 0
        list-style: none
        li
            width: 233px
            padding: 23px 0
            margin: 0 auto
            border-bottom: 1px solid rgba(255, 203, 0, 0.36)
            &:last-child
                border-bottom: none
            a
                color: #fff
                &:hover
                    text-decoration: none
            .page-arrow
                display: flex
                justify-content: space-between

.dfjcsb
    display: flex
    justify-content: space-between

.navbar
    display: flex
    align-items: center
    justify-content: flex-end !important
    padding: 0 !important