@import "./_colors.sass"
@import "./_fonts.sass"


// ---------------FOOTER---------------

.footer
    font-family: "Roboto", sans-serif
    height: 240px
    background-color: $yellow-main
    padding: 30px 0
    .container
        height: 100%
    .row
        height: 100%
    &__title
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
    &__logo
        display: flex
        flex-direction: column
        .header-link
            font-size: 24px
            font-weight: 900
            color: #000
            line-height: 28px
            &:hover
                text-decoration: none
        .p-link
            margin-top: 16px
            font-size: 14px
            font-weight: 500
            line-height: 16px
            color: #000
            &:hover
                text-decoration: none
    &__menu
        height: 50px
        ul
            display: flex
            li
                width: 106px
                list-style: none
                margin: 0
                padding: 0
                margin-right: 123px
                &:last-child
                    margin-right: 0
                a
                    color: #000
                    &:hover
                        text-decoration: none
    &__icons
        text-align: right
        a
            margin-left: 20px
            &:first-child
                margin-left: 0