@import "./__colors.sass"
@import "./__fonts.sass"
@import "./__classes.sass"

.header
    background-color: $yellow-main
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    font-family: "Montserrat", sans-serif
    &__logo
        cursor: pointer
        display: flex
        align-items: center
        justify-content: flex-start
        color: #000
        text-decoration: none
        &:hover
            color: #000
            text-decoration: none
    &__title
        width: 165px
        height: 86px
        h1
            font-size: 36px
            font-weight: 700
            line-height: 44px
            letter-spacing: -0.05em

            margin-bottom: 0
        p
            font-weight: 600
            font-size: 18px
            line-height: 22px
            letter-spacing: 0.055em
    &__menu
        width: 80%
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
        font-weight: 400
        font-size: 18px
        line-height: 22px
        &--link
            display: flex
            align-items: center
            height: 100%
            color: #000
            &:hover
                color: #000
                text-decoration: none
        &--cart
            display: block
            width: 150px
            height: 40px
            text-align: center
            padding: 1.1% 0
            background-color: #FFE373
            border: 1px solid #000
            border-radius: 10px
            color: #000
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
            &:hover
                color: #000
                text-decoration: none
            &:active
                box-shadow: none