.search
    margin: 30px 0
    .arrow-back
        padding: 10px 0
        display: flex
        align-items: center
        justify-content: center
        &:hover
            text-decoration: none
            color: transporent
        p
            position: relative
            margin: 0
            padding-left: 5px
            color: #9b7d04
            &::after
                content: ""
                position: absolute
                width: 100%
                height: 1px
                bottom: -3px
                left: 3px
                background-color: rgba(0, 0, 0, 0.2)
                
    .d1
        margin-top: 13px
        margin-bottom: 30px
        width: 100%
        form
            position: relative
            width: 100%
            margin: 0 auto
            background-color: #dedede
            opacity: 0.5
            border-radius: 10px
            input, button
                border: none
                outline: none
                background: transparent
            input
                color: rgba(0, 0, 0, 0.7)
                font-size: 24px
                width: 100%
                height: 67px
                padding-left: 15px
                &::placeholder
                    color: rgba(0, 0, 0, 0.3)
                    font-size: 24px
            button
                position: absolute
                top: 0
                right: 25px
                width: 42px
                height: 67px
                border: none
                cursor: pointer