
.mb40
    margin-bottom: 40px
    
.filter
    padding-top: 50px
    width: 374px
    background: linear-gradient(180deg, #4276AD 2.6%, #8ABFF9 53.12%, rgba(38, 123, 216, 0) 100%)
    &__wrapper
        width: 310px
        margin: 0 auto
        form
            text-transform: uppercase
            p
                font-size: 22px
                font-weight: 500
                line-height: 26px
                color: #fff
            input[type="text"]
                        text-align: center
                        outline: none
                        width: 123px
                        height: 36px
                        &::placeholder
                            color: rgba(0, 0, 0, 0.5)
                        border-radius: 5px
                        border: none
            input[type="radio"]
                &:checked, &:not(checked)
                    position: absolute
                    left: -9999px
                &:checked + label, &:not(checked) + label
                    cursor: pointer
                    position: relative
                    padding-left: 28px
                    line-height: 20
                    display: inline-block
                    color: #666
                &:checked + label:before, &:not(checked) + label:before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 20px
                    height: 20px
                    border-radius: 50%
                    background-color: #fff
                &:checked + label:after, &:not(checked) + label:after
                    content: ""
                    width: 14px
                    height: 14px
                    position: absolute
                    top: 3px
                    left: 3px
                    border-radius: 50%
                    background-color: #0d56a6
                    transition: all 0.2s ease
                &:not(checked) + label:after
                    opacity: 0
                    transform: scale(0)
                &:checked + label:after
                    opacity: 1
                    transform: scale(1)
            .brend-btn
                width: 100%
                cursor: pointer
                p
                    width: 214px
                    margin: 0
                    display: flex
                    align-items: center
                    justify-content: space-between

                    color: #fff
                    i
                        display: block
                        width: 23px
                        height: 23px
                        background: url(/images/arrow.png)
                .brend-list
                    margin-top: 20px
                    width: 292px
                    height: 308px
                    background-color: #fff
                    overflow: scroll
                    border-radius: 5px
                    ul
                        padding: 0
                        margin: 0
                        li
                            cursor: pointer
                            display: block
                            width: 100%
                            height: 28px
                            list-style: none
                            border-bottom: 1px solid rgba(13, 86, 166, 0.3)
                            &:hover
                                background: #4276ad
                                a
                                    color: #fff
                                    text-decoration: none
                            a
                                padding-left: 7px
                                font-size: 22px
                                font-weight: 500
                                line-height: 26px
                                color: #000
                    &::-webkit-scrollbar
                        width: 9px
                    &::-webkit-scrollbar-thumb
                        border-radius: 5px
                        background-color: #0d56a6
                    &::-webkit-scrollbar-track
                        border-radius: 5px
                        background-color: #fff
                        opacity: 1
            .price
                margin-top: 40px
                &--choice
                    height: 36px
                    display: flex
                    align-items: center
                    justify-content: space-between
                span
                    font-size: 52px
            .invertor
                &-block
                    margin: 0 auto
                    width: 230px
                    display: flex
                    align-items: center
                    justify-content: space-between
                    &-1, &-2
                        width: 70px
                        display: flex
                        label
                            margin: 0
                            margin-left: 12px
                            p
                                text-transform: none !important
                                font-size: 18px
                                font-weight: 300
                                line-height: 21px
            .work-time
                &-block
                    width: 230px
                    height: 65px
                    margin: 0 auto
                    label
                        margin: 0
                        margin-left: 12px
                        p
                            text-transform: none
                            font-size: 18px
                            font-weight: 300
                            line-height: 21px
            .stock
                &-block
                    margin: 0 auto
                    width: 267px
                    display: flex
                    align-items: center
                    justify-content: space-between
                    &-1, &-2
                        width: 125px
                        display: flex
                        label
                            margin: 0
                            margin-left: 12px
                            p
                                text-transform: none !important
                                font-size: 18px
                                font-weight: 300
                                line-height: 21px
            .square
                margin-top: 40px
                &--choice
                    height: 36px
                    display: flex
                    align-items: center
                    justify-content: space-between
                span
                    font-size: 52px
            .power
                margin-top: 40px
                &--choice
                    height: 36px
                    display: flex
                    align-items: center
                    justify-content: space-between
                span
                    font-size: 52px
            .guarantee
                &-block
                    margin: 0 auto
                    width: 230px
                    display: flex
                    align-items: center
                    justify-content: space-between
                    flex-wrap: wrap
                    &-1, &-2, &-3, &-4, &-5, &-6, &-7
                        width: 110px
                        display: flex
                        label
                            margin: 0
                            margin-left: 12px
                            p
                                text-transform: none !important
                                font-size: 18px
                                font-weight: 300
                                line-height: 21px
            .submit-btn
                text-align: center
                text-transform: none
                .button
                    cursor: pointer
                    display: flex
                    align-items: center
                    justify-content: center
                    background-color: #ffe373
                    border: 1px solid #000000
                    border-radius: 10px
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
                    width: 310px
                    height: 55px
                    margin-bottom: 28px
                    span
                        font-family: "Montserrat", sans-serif
                        font-size: 18px
                        font-weight: 600
                        line-height: 22px
                    &:active
                        box-shadow: none
                .reset
                    cursor: pointer
                    span
                        position: relative
                        font-size: 16px
                        line-height: 19px
                        color: #675303
                        &::after
                            content: ""
                            position: absolute
                            bottom: -9px
                            left: 0
                            width: 100%
                            height: 1px
                            background-color: rgba(84, 68, 5, 0.25)