@import "__template.sass"

.flwrap
    width: 100%
    height: 40px

.about
    font-family: "Roboto", sans-serif
    h1
        font-size: 32px
        font-weight: 600
        line-height: 37px
    &__title
        height: 443px
        background: #fff url(../images/about-bg.png) no-repeat
        .container
            display: flex
            align-items: center
            justify-content: flex-end
            width: 100%
            height: 100%
        &--desc
            width: 587px
            height: 367px
            color: #fff
            h2
                font-size: 36px
                font-weight: 500
                line-height: 42px
            p
                font-size: 30px
                line-height: 35px
                font-weight: 400
    &__links
        margin-top: 37px
        display: flex
        align-items: center
        justify-content: space-between
        a
            display: flex
            align-items: center
            justify-content: center
            color: #000
            font-family: "Montserrat", sans-serif
            font-size: 16px
            font-weight: 600
            width: 252px
            height: 69px
            border: 1px solid #000
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 10px
            background-color: #ffe373
            &:hover
                color: #000000
                text-decoration: none
    &__list
        display: flex
        flex-wrap: wrap
        margin: 42px auto
        width: 1127px
        height: 442px
        &--item
            display: flex
            align-items: flex-start
            justify-content: center
            width: 557px
            height: 208px
        &--title
            h1
                font-size: 24px
                font-weight: 600
                line-height: 28px
            p
                font-weight: 300
                font-size: 20px
                line-height: 23px