@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  overflow-x: hidden !important;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.pt24 {
  padding-top: 24px !important;
}

.h95 {
  height: 95% !important;
}

.active {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0D56A6;
  color: #fff !important;
  border: 1px solid #FFCB00;
}

.availability {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.availability .item-stock, .availability .item-order {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.availability .item-stock {
  background: url(../images/icon-stock.png) no-repeat center;
}

.availability .item-order {
  background: url(../images/icon-order.png) no-repeat center;
}

.availability p {
  margin: 0 0 0 5px;
}

.stock {
  color: #2ECC71 !important;
}

.order {
  color: #F1C40F !important;
}

.active-dot {
  background-color: #fffdf7 !important;
}

.btn-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(13, 86, 166, 0.7);
}

.dropdown--menu {
  display: none;
  width: 262px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 7.5rem;
  background-color: #0D56A6;
  color: #fff;
  border-radius: 0 10px 10px 0;
  z-index: 200;
}

.dropdown--menu .close-window {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
}

.dropdown--menu ul {
  position: relative;
  z-index: 10001;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown--menu ul li {
  width: 233px;
  padding: 23px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 203, 0, 0.36);
}

.dropdown--menu ul li:last-child {
  border-bottom: none;
}

.dropdown--menu ul li a {
  color: #fff;
}

.dropdown--menu ul li a:hover {
  text-decoration: none;
}

.dropdown--menu ul li .page-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfjcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding: 0 !important;
}

.header {
  background-color: #FFCB00;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  color: #000;
  text-decoration: none;
}

.header__title {
  width: 165px;
  height: 86px;
}

.header__title h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

.header__title p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
}

.header__menu {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #000;
}

.header__menu--link:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 1.1% 0;
  background-color: #FFE373;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu--cart:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search {
  margin: 30px 0;
}

.search .arrow-back {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .arrow-back:hover {
  text-decoration: none;
  color: transporent;
}

.search .arrow-back p {
  position: relative;
  margin: 0;
  padding-left: 5px;
  color: #9b7d04;
}

.search .arrow-back p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search .d1 {
  margin-top: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.search .d1 form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #dedede;
  opacity: 0.5;
  border-radius: 10px;
}

.search .d1 form input, .search .d1 form button {
  border: none;
  outline: none;
  background: transparent;
}

.search .d1 form input {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  width: 100%;
  height: 67px;
  padding-left: 15px;
}

.search .d1 form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 42px;
  height: 67px;
  border: none;
  cursor: pointer;
}

.footer {
  font-family: "Roboto", sans-serif;
  height: 240px;
  background-color: #FFCB00;
  padding: 30px 0;
}

.footer .container {
  height: 100%;
}

.footer .row {
  height: 100%;
}

.footer__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo .header-link {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  line-height: 28px;
}

.footer__logo .header-link:hover {
  text-decoration: none;
}

.footer__logo .p-link {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
}

.footer__logo .p-link:hover {
  text-decoration: none;
}

.footer__menu {
  height: 50px;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul li {
  width: 106px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 123px;
}

.footer__menu ul li:last-child {
  margin-right: 0;
}

.footer__menu ul li a {
  color: #000;
}

.footer__menu ul li a:hover {
  text-decoration: none;
}

.footer__icons {
  text-align: right;
}

.footer__icons a {
  margin-left: 20px;
}

.footer__icons a:first-child {
  margin-left: 0;
}

.catalog__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards--title {
  width: 85.4%;
  height: 345px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__cards--card {
  width: 254px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .img {
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
  color: #0D56A6;
}

.catalog__cards--card .price {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin: 25px 0;
  color: #0D56A6;
}

.catalog__cards--card .availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__cards--card .availability .item {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.catalog__cards--card .availability p {
  margin-left: 5px;
}

.catalog__cards--card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 35px;
  background-color: rgba(13, 86, 166, 0.7);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.catalog__cards--card a:hover {
  color: #fff;
  text-decoration: none;
}

.mb40 {
  margin-bottom: 40px;
}

.filter {
  padding-top: 50px;
  width: 374px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.6%, #4276AD), color-stop(53.12%, #8ABFF9), to(rgba(38, 123, 216, 0)));
  background: linear-gradient(180deg, #4276AD 2.6%, #8ABFF9 53.12%, rgba(38, 123, 216, 0) 100%);
}

.filter__wrapper {
  width: 310px;
  margin: 0 auto;
}

.filter__wrapper form {
  text-transform: uppercase;
}

.filter__wrapper form p {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.filter__wrapper form input[type="text"] {
  text-align: center;
  outline: none;
  width: 123px;
  height: 36px;
  border-radius: 5px;
  border: none;
}

.filter__wrapper form input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.filter__wrapper form input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.filter__wrapper form input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.filter__wrapper form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.filter__wrapper form input[type="radio"]:checked, .filter__wrapper form input[type="radio"]:not(checked) {
  position: absolute;
  left: -9999px;
}

.filter__wrapper form input[type="radio"]:checked + label, .filter__wrapper form input[type="radio"]:not(checked) + label {
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  line-height: 20;
  display: inline-block;
  color: #666;
}

.filter__wrapper form input[type="radio"]:checked + label:before, .filter__wrapper form input[type="radio"]:not(checked) + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.filter__wrapper form input[type="radio"]:checked + label:after, .filter__wrapper form input[type="radio"]:not(checked) + label:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: #0d56a6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.filter__wrapper form input[type="radio"]:not(checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.filter__wrapper form input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.filter__wrapper form .brend-btn {
  width: 100%;
  cursor: pointer;
}

.filter__wrapper form .brend-btn p {
  width: 214px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.filter__wrapper form .brend-btn p i {
  display: block;
  width: 23px;
  height: 23px;
  background: url(/images/arrow.png);
}

.filter__wrapper form .brend-btn .brend-list {
  margin-top: 20px;
  width: 292px;
  height: 308px;
  background-color: #fff;
  overflow: scroll;
  border-radius: 5px;
}

.filter__wrapper form .brend-btn .brend-list ul {
  padding: 0;
  margin: 0;
}

.filter__wrapper form .brend-btn .brend-list ul li {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 28px;
  list-style: none;
  border-bottom: 1px solid rgba(13, 86, 166, 0.3);
}

.filter__wrapper form .brend-btn .brend-list ul li:hover {
  background: #4276ad;
}

.filter__wrapper form .brend-btn .brend-list ul li:hover a {
  color: #fff;
  text-decoration: none;
}

.filter__wrapper form .brend-btn .brend-list ul li a {
  padding-left: 7px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}

.filter__wrapper form .brend-btn .brend-list::-webkit-scrollbar {
  width: 9px;
}

.filter__wrapper form .brend-btn .brend-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0d56a6;
}

.filter__wrapper form .brend-btn .brend-list::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fff;
  opacity: 1;
}

.filter__wrapper form .price {
  margin-top: 40px;
}

.filter__wrapper form .price--choice {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__wrapper form .price span {
  font-size: 52px;
}

.filter__wrapper form .invertor-block {
  margin: 0 auto;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__wrapper form .invertor-block-1, .filter__wrapper form .invertor-block-2 {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__wrapper form .invertor-block-1 label, .filter__wrapper form .invertor-block-2 label {
  margin: 0;
  margin-left: 12px;
}

.filter__wrapper form .invertor-block-1 label p, .filter__wrapper form .invertor-block-2 label p {
  text-transform: none !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.filter__wrapper form .work-time-block {
  width: 230px;
  height: 65px;
  margin: 0 auto;
}

.filter__wrapper form .work-time-block label {
  margin: 0;
  margin-left: 12px;
}

.filter__wrapper form .work-time-block label p {
  text-transform: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.filter__wrapper form .stock-block {
  margin: 0 auto;
  width: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__wrapper form .stock-block-1, .filter__wrapper form .stock-block-2 {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__wrapper form .stock-block-1 label, .filter__wrapper form .stock-block-2 label {
  margin: 0;
  margin-left: 12px;
}

.filter__wrapper form .stock-block-1 label p, .filter__wrapper form .stock-block-2 label p {
  text-transform: none !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.filter__wrapper form .square {
  margin-top: 40px;
}

.filter__wrapper form .square--choice {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__wrapper form .square span {
  font-size: 52px;
}

.filter__wrapper form .power {
  margin-top: 40px;
}

.filter__wrapper form .power--choice {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__wrapper form .power span {
  font-size: 52px;
}

.filter__wrapper form .guarantee-block {
  margin: 0 auto;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__wrapper form .guarantee-block-1, .filter__wrapper form .guarantee-block-2, .filter__wrapper form .guarantee-block-3, .filter__wrapper form .guarantee-block-4, .filter__wrapper form .guarantee-block-5, .filter__wrapper form .guarantee-block-6, .filter__wrapper form .guarantee-block-7 {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__wrapper form .guarantee-block-1 label, .filter__wrapper form .guarantee-block-2 label, .filter__wrapper form .guarantee-block-3 label, .filter__wrapper form .guarantee-block-4 label, .filter__wrapper form .guarantee-block-5 label, .filter__wrapper form .guarantee-block-6 label, .filter__wrapper form .guarantee-block-7 label {
  margin: 0;
  margin-left: 12px;
}

.filter__wrapper form .guarantee-block-1 label p, .filter__wrapper form .guarantee-block-2 label p, .filter__wrapper form .guarantee-block-3 label p, .filter__wrapper form .guarantee-block-4 label p, .filter__wrapper form .guarantee-block-5 label p, .filter__wrapper form .guarantee-block-6 label p, .filter__wrapper form .guarantee-block-7 label p {
  text-transform: none !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.filter__wrapper form .submit-btn {
  text-align: center;
  text-transform: none;
}

.filter__wrapper form .submit-btn .button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffe373;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 310px;
  height: 55px;
  margin-bottom: 28px;
}

.filter__wrapper form .submit-btn .button span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.filter__wrapper form .submit-btn .button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter__wrapper form .submit-btn .reset {
  cursor: pointer;
}

.filter__wrapper form .submit-btn .reset span {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #675303;
}

.filter__wrapper form .submit-btn .reset span::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(84, 68, 5, 0.25);
}

.catalog {
  font-family: "Roboto", sans-serif;
}

.catalog--title h1 {
  font-size: 52px;
  line-height: 61px;
  font-weight: 400;
}

.catalog .sort {
  width: 100%;
  height: 100%;
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.catalog .sort .sort--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
}

.catalog .sort .expensive, .catalog .sort .cheap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 178px;
  height: 35px;
  cursor: pointer;
  color: rgba(13, 86, 166, 0.7);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1390px;
}

.catalog-block {
  width: 1016px;
}

.catalog-block .more-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 41px auto;
  width: 310px;
  height: 55px;
  border: 2px solid #0D56A6;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.catalog-block .more-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-block .more-btn .more-icon {
  position: relative;
  width: 39px;
  height: 39px;
  border: 2px solid #0D56A6;
  border-radius: 50%;
}

.catalog-block .more-btn .more-icon::after {
  content: "○○○";
  margin-top: 5px;
  color: #0d56a6;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.catalog-block .more-btn p {
  margin: 0 0 0 6px;
  color: #0d56a6;
}
/*# sourceMappingURL=catalog.css.map */