@import "__template.sass"
@import "__sass/__sidebar.sass"

.catalog
    font-family: "Roboto", sans-serif
    &--title
        h1
            font-size: 52px
            line-height: 61px
            font-weight: 400
    .sort
        width: 100%
        height: 100%
        padding-bottom: 11px
        display: flex
        align-items: flex-end
        justify-content: space-evenly
        font-size: 17px
        font-weight: 400
        line-height: 20px
        .sort--title
            display: flex
            align-items: center
            justify-content: center
            height: 35px
        .expensive, .cheap
            display: flex
            align-items: center
            justify-content: center
            width: 178px
            height: 35px
            cursor: pointer
            color: rgba(13, 86, 166, 0.7)

.wrapper
    display: flex
    width: 1390px

.catalog-block
    width: 1016px
    .more-btn
        &:active
            box-shadow: none
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        margin: 41px auto
        width: 310px
        height: 55px
        border: 2px solid #0D56A6
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        .more-icon
            position: relative
            width: 39px
            height: 39px
            border: 2px solid #0D56A6
            border-radius: 50%
            &::after
                content: "○○○"
                margin-top: 5px
                color: #0d56a6
                font-weight: 800
                display: flex
                align-items: center
                justify-content: center

                transform: scale(0.7)
        p
            margin: 0 0 0 6px

            color: #0d56a6