@import "__template.sass"

.condition
    margin-bottom: 88px
    width: 100%
    background: #fff url(../images/conditioner.png) no-repeat center center
    background-size: contain
    .container
        height: 100%
    &__title
        padding-top: 25px
        text-align: center
        width: 100%
        height: 12.5%

.ventilation
    margin-bottom: 88px
    width: 100%
    height: 515px
    background: #fff url(../images/ventilation.png) no-repeat center center
    background-size: contain
    .container
        height: 100%
    &__title
        text-align: center
        h1
            font-weight: 600
            font-size: 52px
            margin: 31px
    &__block
        .card-1
            border-radius: 0 0 0 50px
        .card-2
            border-radius: none
        .card-3
            border-radius: 0 0 50px 0
        width: 100%
        height: 89%
        display: flex
        justify-content: space-around
        padding-top: 22px
        &--card
            font-family: "Roboto", sans-serif
            width: 31.5%
            height: 95%
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
            cursor: pointer
            img
                width: 100%
                height: 53.5%
            &:hover
                box-shadow: 5px 5px 20px rgba(13, 86, 166, 0.7)
            &--title
                display: flex
                flex-direction: column
                justify-content: space-between
                width: 90%
                height: 40%
                margin: 13px 0 15px 24px
                &--desc
                    h2
                        width: 310px
                        font-size: 24px
                        font-weight: 600
                        line-height: 28px
                        margin: 0
                        margin-bottom: 10px
                    p
                        font-size: 18px
                        font-weight: 300
                        line-height: 21px
                a
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 178px
                    height: 32px
                    background: rgba(13, 86, 166, 0.7);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    color: #fff
                    font-size: 22px
                    font-weight: 500
                    line-height: 26px
                    &:hover
                        color: #fff
                        text-decoration: none