@import "__template.sass"



.heating
    font-family: "Roboto", sans-serif
    position: relative
    z-index: 1000
    width: 1251px
    height: 698px
    margin: 0 auto 218px
    .container
        height: 100%
    &__title
        text-align: center
        padding: 30px 0 85px
        h1
            font-size: 52px
            font-weight: 600
            line-height: 61px
    &__blocks
        height: 80%
        display: flex
        align-items: flex-end
        justify-content: space-between
        &--1,
        &--2
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 601px
            height: 565px
            border-radius: 50px
            background: #fff url(../images/heating-block-1.png) no-repeat center center
            &:hover
                box-shadow: 4px 4px 20px rgba(13, 86, 166, 0.7)
        &--1
        &--2
            position: relative
            z-index: 20
    .heating-lines
        width: 142px
        height: 94px
        position: absolute
        bottom: 30px
        left: 62px
        background: #fff url(../images/heating-block-1-lines.png) no-repeat center center
        background-size: contain
    .heating-add
        position: absolute
        top: -30px
        right: 16px
        z-index: 10
        background: #fff url(../images/heating-add.png) no-repeat center center
        width: 601px
        height: 565px

.ventilation
    margin-bottom: 88px
    width: 100%
    height: 515px
    background: #fff url(../images/ventilation.png) no-repeat center center
    background-size: contain
    .container
        height: 100%
    &__title
        text-align: center
        h1
            font-weight: 600
            font-size: 52px
            margin: 31px
    &__block
        .card-1
            border-radius: 10px 0 0 10px
        .card-2
            border-radius: none
        .card-3
            border-radius: 0 10px 10px 0
        width: 100%
        display: flex
        justify-content: space-evenly
        padding-top: 22px
        &--card
            font-family: "Roboto", sans-serif
            width: 45%
            height: 429px
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
            cursor: pointer
            border-radius: 10px
            img
                width: 100%
                height: 40%
                border-radius: 10px 10px 0 0
            &--title
                display: flex
                flex-direction: column
                justify-content: space-between
                width: 90%
                height: 50%
                margin: 10px 0 0 24px
                &--desc
                    h2
                        width: 310px
                        font-size: 24px
                        font-weight: 600
                        line-height: 28px
                        margin: 0
                        margin-bottom: 10px
                    p
                        font-size: 18px
                        font-weight: 300
                        line-height: 21px
                a
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 178px
                    height: 32px
                    background: rgba(13, 86, 166, 0.7);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    color: #fff
                    font-size: 22px
                    font-weight: 500
                    line-height: 26px
                    &:hover
                        color: #fff
                        text-decoration: none