@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  overflow-x: hidden !important;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.pt24 {
  padding-top: 24px !important;
}

.h95 {
  height: 95% !important;
}

.active {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0D56A6;
  color: #fff !important;
  border: 1px solid #FFCB00;
}

.availability {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.availability .item-stock, .availability .item-order {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.availability .item-stock {
  background: url(../images/icon-stock.png) no-repeat center;
}

.availability .item-order {
  background: url(../images/icon-order.png) no-repeat center;
}

.availability p {
  margin: 0 0 0 5px;
}

.stock {
  color: #2ECC71 !important;
}

.order {
  color: #F1C40F !important;
}

.active-dot {
  background-color: #fffdf7 !important;
}

.btn-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(13, 86, 166, 0.7);
}

.dropdown--menu {
  display: none;
  width: 262px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 7.5rem;
  background-color: #0D56A6;
  color: #fff;
  border-radius: 0 10px 10px 0;
  z-index: 200;
}

.dropdown--menu .close-window {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
}

.dropdown--menu ul {
  position: relative;
  z-index: 10001;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown--menu ul li {
  width: 233px;
  padding: 23px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 203, 0, 0.36);
}

.dropdown--menu ul li:last-child {
  border-bottom: none;
}

.dropdown--menu ul li a {
  color: #fff;
}

.dropdown--menu ul li a:hover {
  text-decoration: none;
}

.dropdown--menu ul li .page-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfjcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding: 0 !important;
}

.header {
  background-color: #FFCB00;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  color: #000;
  text-decoration: none;
}

.header__title {
  width: 165px;
  height: 86px;
}

.header__title h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

.header__title p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
}

.header__menu {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #000;
}

.header__menu--link:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 1.1% 0;
  background-color: #FFE373;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu--cart:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search {
  margin: 30px 0;
}

.search .arrow-back {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .arrow-back:hover {
  text-decoration: none;
  color: transporent;
}

.search .arrow-back p {
  position: relative;
  margin: 0;
  padding-left: 5px;
  color: #9b7d04;
}

.search .arrow-back p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search .d1 {
  margin-top: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.search .d1 form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #dedede;
  opacity: 0.5;
  border-radius: 10px;
}

.search .d1 form input, .search .d1 form button {
  border: none;
  outline: none;
  background: transparent;
}

.search .d1 form input {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  width: 100%;
  height: 67px;
  padding-left: 15px;
}

.search .d1 form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 42px;
  height: 67px;
  border: none;
  cursor: pointer;
}

.footer {
  font-family: "Roboto", sans-serif;
  height: 240px;
  background-color: #FFCB00;
  padding: 30px 0;
}

.footer .container {
  height: 100%;
}

.footer .row {
  height: 100%;
}

.footer__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo .header-link {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  line-height: 28px;
}

.footer__logo .header-link:hover {
  text-decoration: none;
}

.footer__logo .p-link {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
}

.footer__logo .p-link:hover {
  text-decoration: none;
}

.footer__menu {
  height: 50px;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul li {
  width: 106px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 123px;
}

.footer__menu ul li:last-child {
  margin-right: 0;
}

.footer__menu ul li a {
  color: #000;
}

.footer__menu ul li a:hover {
  text-decoration: none;
}

.footer__icons {
  text-align: right;
}

.footer__icons a {
  margin-left: 20px;
}

.footer__icons a:first-child {
  margin-left: 0;
}

.catalog__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards--title {
  width: 85.4%;
  height: 345px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__cards--card {
  width: 254px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .img {
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
  color: #0D56A6;
}

.catalog__cards--card .price {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin: 25px 0;
  color: #0D56A6;
}

.catalog__cards--card .availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__cards--card .availability .item {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.catalog__cards--card .availability p {
  margin-left: 5px;
}

.catalog__cards--card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 35px;
  background-color: rgba(13, 86, 166, 0.7);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.catalog__cards--card a:hover {
  color: #fff;
  text-decoration: none;
}

.heating {
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 1000;
  width: 1251px;
  height: 698px;
  margin: 0 auto 218px;
}

.heating .container {
  height: 100%;
}

.heating__title {
  text-align: center;
  padding: 30px 0 85px;
}

.heating__title h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 61px;
}

.heating__blocks {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heating__blocks--1, .heating__blocks--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 601px;
  height: 565px;
  border-radius: 50px;
  background: #fff url(../images/heating-block-1.png) no-repeat center center;
}

.heating__blocks--1:hover, .heating__blocks--2:hover {
  -webkit-box-shadow: 4px 4px 20px rgba(13, 86, 166, 0.7);
          box-shadow: 4px 4px 20px rgba(13, 86, 166, 0.7);
}

.heating__blocks--2 {
  position: relative;
  z-index: 20;
}

.heating .heating-lines {
  width: 142px;
  height: 94px;
  position: absolute;
  bottom: 30px;
  left: 62px;
  background: #fff url(../images/heating-block-1-lines.png) no-repeat center center;
  background-size: contain;
}

.heating .heating-add {
  position: absolute;
  top: -30px;
  right: 16px;
  z-index: 10;
  background: #fff url(../images/heating-add.png) no-repeat center center;
  width: 601px;
  height: 565px;
}

.ventilation {
  margin-bottom: 88px;
  width: 100%;
  height: 515px;
  background: #fff url(../images/ventilation.png) no-repeat center center;
  background-size: contain;
}

.ventilation .container {
  height: 100%;
}

.ventilation__title {
  text-align: center;
}

.ventilation__title h1 {
  font-weight: 600;
  font-size: 52px;
  margin: 31px;
}

.ventilation__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 22px;
}

.ventilation__block .card-1 {
  border-radius: 10px 0 0 10px;
}

.ventilation__block .card-2 {
  border-radius: none;
}

.ventilation__block .card-3 {
  border-radius: 0 10px 10px 0;
}

.ventilation__block--card {
  font-family: "Roboto", sans-serif;
  width: 45%;
  height: 429px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 10px;
}

.ventilation__block--card img {
  width: 100%;
  height: 40%;
  border-radius: 10px 10px 0 0;
}

.ventilation__block--card--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 50%;
  margin: 10px 0 0 24px;
}

.ventilation__block--card--title--desc h2 {
  width: 310px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  margin-bottom: 10px;
}

.ventilation__block--card--title--desc p {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.ventilation__block--card--title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 178px;
  height: 32px;
  background: rgba(13, 86, 166, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

.ventilation__block--card--title a:hover {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=heating.css.map */