@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  overflow-x: hidden !important;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.pt24 {
  padding-top: 24px !important;
}

.h95 {
  height: 95% !important;
}

.active {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0D56A6;
  color: #fff !important;
  border: 1px solid #FFCB00;
}

.availability {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.availability .item-stock, .availability .item-order {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.availability .item-stock {
  background: url(../images/icon-stock.png) no-repeat center;
}

.availability .item-order {
  background: url(../images/icon-order.png) no-repeat center;
}

.availability p {
  margin: 0 0 0 5px;
}

.stock {
  color: #2ECC71 !important;
}

.order {
  color: #F1C40F !important;
}

.active-dot {
  background-color: #fffdf7 !important;
}

.btn-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(13, 86, 166, 0.7);
}

.dropdown--menu {
  display: none;
  width: 262px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 7.5rem;
  background-color: #0D56A6;
  color: #fff;
  border-radius: 0 10px 10px 0;
  z-index: 200;
}

.dropdown--menu .close-window {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
}

.dropdown--menu ul {
  position: relative;
  z-index: 10001;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown--menu ul li {
  width: 233px;
  padding: 23px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 203, 0, 0.36);
}

.dropdown--menu ul li:last-child {
  border-bottom: none;
}

.dropdown--menu ul li a {
  color: #fff;
}

.dropdown--menu ul li a:hover {
  text-decoration: none;
}

.dropdown--menu ul li .page-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfjcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding: 0 !important;
}

.header {
  background-color: #FFCB00;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  color: #000;
  text-decoration: none;
}

.header__title {
  width: 165px;
  height: 86px;
}

.header__title h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

.header__title p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
}

.header__menu {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #000;
}

.header__menu--link:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 1.1% 0;
  background-color: #FFE373;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu--cart:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search {
  margin: 30px 0;
}

.search .arrow-back {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .arrow-back:hover {
  text-decoration: none;
  color: transporent;
}

.search .arrow-back p {
  position: relative;
  margin: 0;
  padding-left: 5px;
  color: #9b7d04;
}

.search .arrow-back p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search .d1 {
  margin-top: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.search .d1 form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #dedede;
  opacity: 0.5;
  border-radius: 10px;
}

.search .d1 form input, .search .d1 form button {
  border: none;
  outline: none;
  background: transparent;
}

.search .d1 form input {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  width: 100%;
  height: 67px;
  padding-left: 15px;
}

.search .d1 form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 42px;
  height: 67px;
  border: none;
  cursor: pointer;
}

.footer {
  font-family: "Roboto", sans-serif;
  height: 240px;
  background-color: #FFCB00;
  padding: 30px 0;
}

.footer .container {
  height: 100%;
}

.footer .row {
  height: 100%;
}

.footer__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo .header-link {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  line-height: 28px;
}

.footer__logo .header-link:hover {
  text-decoration: none;
}

.footer__logo .p-link {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
}

.footer__logo .p-link:hover {
  text-decoration: none;
}

.footer__menu {
  height: 50px;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul li {
  width: 106px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 123px;
}

.footer__menu ul li:last-child {
  margin-right: 0;
}

.footer__menu ul li a {
  color: #000;
}

.footer__menu ul li a:hover {
  text-decoration: none;
}

.footer__icons {
  text-align: right;
}

.footer__icons a {
  margin-left: 20px;
}

.footer__icons a:first-child {
  margin-left: 0;
}

.catalog__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards--title {
  width: 85.4%;
  height: 345px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__cards--card {
  width: 254px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .img {
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
  color: #0D56A6;
}

.catalog__cards--card .price {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin: 25px 0;
  color: #0D56A6;
}

.catalog__cards--card .availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__cards--card .availability .item {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.catalog__cards--card .availability p {
  margin-left: 5px;
}

.catalog__cards--card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 35px;
  background-color: rgba(13, 86, 166, 0.7);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.catalog__cards--card a:hover {
  color: #fff;
  text-decoration: none;
}

.navigation {
  font-family: "Roboto", sans-serif;
}

.navigation__blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__buttons--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 265px;
  background: linear-gradient(137.28deg, rgba(231, 219, 219, 0.4) 18.69%, rgba(117, 118, 120, 0.02) 50.56%);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-right: 18px;
}

.navigation__buttons--button:last-child {
  margin-right: 0;
}

.navigation__buttons--button:hover {
  -webkit-box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25);
  color: #000000;
  text-decoration: none;
  border: 0.5px solid rgba(0, 0, 0, 0.49);
}

.navigation__contact {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__contact--operating-mode {
  margin-top: 53px;
}

.navigation__contact--operating-mode p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 5px;
}

.navigation__contact--operating-mode h2 {
  line-height: 20px;
  font-size: 24px;
  font-weight: 600;
}

.navigation__contact--tel {
  margin-top: 9px;
  margin-bottom: 22px;
}

.navigation__contact--tel p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.navigation__contact--tel h2 {
  line-height: 20px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.navigation__contact--button {
  width: 236px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffe373;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation__contact--button a {
  color: #000;
}

.navigation__contact--button a:hover {
  text-decoration: none;
}

.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 60px 0 0;
  padding: 55px 0 0;
  background: linear-gradient(249.95deg, #0d77eb 8.52%, #25598a 99.69%);
}

.ad .left {
  background: url(../images/arrow-slider.png) center center;
  background-size: cover;
}

.ad .right {
  background: url(../images/arrow-slider.png) center center;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ad .slider-arrow {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
}

.ad .slider-arrow:hover {
  cursor: pointer;
}

.ad .container {
  margin: 0 !important;
}

.ad__slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ad__slider .item .image {
  width: 638px;
  height: 313px;
}

.ad__slider--description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.ad__slider-dots {
  margin-top: 75px;
  width: 100%;
  text-align: center;
}

.ad__slider-dots--item {
  display: inline-block;
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 2px;
  background-color: rgba(255, 253, 247, 0.4);
  border-radius: 50%;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.ad__slider-dots--item:hover {
  background-color: #fffdf7;
}

.workStages {
  font-family: "Roboto", sans-serif;
  margin: 100px 0;
}

.workStages__title {
  width: 100%;
}

.workStages__title h1 {
  position: relative;
  width: 560px;
  font-size: 55px;
  font-weight: 600;
  margin: 0 auto;
}

.workStages__title h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -19px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.29);
}

.workStages__description {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workStages__description img {
  padding-bottom: 200px;
}

.workStages__description--block {
  text-align: center;
  width: 340px;
  height: 365px;
}

.workStages__description--block img {
  padding: 0;
}

.workStages__description--block h1 {
  font-size: 30px;
  font-weight: 600;
}

.workStages__description--block p {
  font-size: 25px;
  line-height: 29px;
  font-weight: 300;
}

.contact-form {
  padding: 84px 0 200px;
  font-family: "Roboto", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe373), to(rgba(255, 227, 115, 0)));
  background: linear-gradient(180deg, #ffe373 0%, rgba(255, 227, 115, 0) 100%);
}

.contact-form__title h1 {
  width: 511px;
  height: 128px;
  font-weight: 600;
  font-size: 55px;
  margin: 0 0 71px;
  line-height: 64px;
}

.contact-form__title p {
  width: 454px;
  height: 153px;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}

.contact-form__form {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 626px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.contact-form__form--input-block {
  padding-top: 40px;
  text-align: center;
  width: 80%;
}

.contact-form__form--input-block textarea {
  outline: none;
  background-color: rgba(112, 155, 202, 0.38);
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
}

.contact-form__form--input-block:first-child {
  padding-top: 0;
}

.contact-form__form--input-block p {
  text-align: left;
  margin-bottom: 0;
}

.contact-form__form--input-block input {
  width: 100%;
  background: rgba(112, 155, 202, 0.38);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  outline: none;
}

.contact-form__form--input-block .input-1 {
  height: 117px;
}

.contact-form__form--input-block .input-2, .contact-form__form--input-block .input-3 {
  height: 45px;
}

.contact-form__form--submit {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 182px;
  height: 45px;
  color: #fff;
  background: #0D56A6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-decoration: none;
  outline: none;
}

.contact-form__form--submit:hover {
  text-decoration: none;
  color: #fff;
}

.contact-form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 624px;
  height: 515px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}

.contact-form__send span {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: #0D56A6;
}

.top-btn {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-btn a {
  color: #d6aa01;
}

.top-btn a:hover {
  color: #d6aa01;
}
/*# sourceMappingURL=main-page.css.map */