@import "__template.sass"

// ---------------NAVIGATION ---------------

.navigation
    font-family: "Roboto", sans-serif
    &__blocks
        width: 100%
        display: flex
    &__buttons
        display: flex
        align-items: center
        justify-content: space-between
        &--button
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 300px
            height: 265px
            background: linear-gradient(137.28deg, rgba(231, 219, 219, 0.4) 18.69%, rgba(117, 118, 120, 0.02) 50.56%)
            border: 0.5px solid rgba(0, 0, 0, 0.2)
            border-radius: 5px
            text-align: center
            color: #000
            font-family: "Montserrat", sans-serif
            font-size: 24px
            margin-right: 18px
            &:last-child
                margin-right: 0
            &:hover
                box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25)
                color: #000000
                text-decoration: none
                border: 0.5px solid rgba(0, 0, 0, 0.49)
    &__contact
        margin-left: 35px
        display: flex
        flex-direction: column
        justify-content: center
        &--operating-mode
            margin-top: 53px
            p
                font-size: 14px
                font-weight: 400
                line-height: 16px
                margin-bottom: 5px
            h2
                line-height: 20px
                font-size: 24px
                font-weight: 600
        &--tel
            margin-top: 9px
            margin-bottom: 22px
            p
                font-size: 14px
                font-weight: 400
                margin-bottom: 5px
            h2
                line-height: 20px
                font-size: 24px
                font-weight: 600
                margin: 0
        &--button
            width: 236px
            height: 58px
            display: flex
            align-items: center
            justify-content: center
            background-color: #ffe373
            border: 1px solid #000
            border-radius: 10px
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
            a
                color: #000
                &:hover
                    text-decoration: none

// ---------------AD---------------

.ad
    .left
        background: url(../images/arrow-slider.png) center center
        background-size: cover
    .right
        background: url(../images/arrow-slider.png) center center
        background-size: cover
        transform: rotate(180deg)
    .slider-arrow
        width: 55px
        height: 55px
        border-radius: 50%
        background-color: #fff
        &:hover
            cursor: pointer
    .container
        margin: 0 !important
    display: flex
    align-items: center
    justify-content: space-around
    margin: 60px 0 0
    padding: 55px 0 0
    background: linear-gradient(249.95deg, #0d77eb 8.52%, #25598a 99.69%)
    &__slider
        .item
            display: flex
            align-items: center
            justify-content: center
            .image
                width: 638px
                height: 313px
        &--description
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            color: #fff
    &__slider-dots
        margin-top: 75px
        width: 100%
        text-align: center
        &--item
            display: inline-block
            cursor: pointer
            height: 17px
            width: 17px
            margin: 0 2px
            background-color: rgba(255, 253, 247, 0.4)
            border-radius: 50%
            transition: background-color 0.6s ease
            &:hover
                background-color: #fffdf7

// ---------------WORK STAGES---------------

.workStages
    font-family: "Roboto", sans-serif
    margin: 100px 0
    &__title
        width: 100%
        h1
            position: relative
            width: 560px
            font-size: 55px
            font-weight: 600
            margin: 0 auto
            &::after
                content: ""
                position: absolute
                width: 100%
                height: 1px
                bottom: -19px
                left: 0
                background-color: rgba(0, 0, 0, 0.29)
    &__description
        img
            padding-bottom: 200px
        margin-top: 66px
        display: flex
        align-items: center
        justify-content: space-between
        &--block
            img
                padding: 0
            text-align: center
            width: 340px
            height: 365px
            h1
                font-size: 30px
                font-weight: 600
            p
                font-size: 25px
                line-height: 29px
                font-weight: 300

// ---------------CONTACT FORM---------------

.contact-form
    padding: 84px 0 200px
    font-family: "Roboto", sans-serif
    background: linear-gradient(180deg, #ffe373 0%, rgba(255, 227, 115, 0) 100%)
    &__title
        h1
            width: 511px
            height: 128px
            font-weight: 600
            font-size: 55px
            margin: 0 0 71px
            line-height: 64px
        p
            width: 454px
            height: 153px
            font-weight: 300
            font-size: 36px
            line-height: 42px
    &__form
        padding: 35px 0;
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: #fff
        width: 626px
        border: 0.5px solid rgba(0, 0, 0, 0.5)
        border-radius: 10px
        &--input-block
            padding-top: 40px
            text-align: center
            width: 80%
            textarea
                outline: none
                background-color: rgba(112, 155, 202, 0.38)
                box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25)
                border: none
                border-radius: 10px
            &:first-child
                padding-top: 0
            p
                text-align: left
                margin-bottom: 0
            input
                width: 100%
                background: rgba(112, 155, 202, 0.38)
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
                border: none
                border-radius: 10px
                outline: none
            .input-1
                height: 117px
            .input-2, .input-3
                height: 45px
        &--submit
            margin-top: 40px
            display: flex
            align-items: center
            justify-content: center
            width: 182px
            height: 45px
            color: #fff
            background: #0D56A6
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 10px
            text-decoration: none
            outline: none
            &:hover
                text-decoration: none
                color: #fff
    &__send
        display: flex
        align-items: center
        justify-content: center
        width: 624px
        height: 515px
        background: rgba(255, 255, 255, 0.35)
        border-radius: 10px
        span
            font-size: 36px
            font-weight: 600
            line-height: 42px
            color: $blue-main

.top-btn
    padding-bottom: 50px
    display: flex
    align-items: center
    justify-content: center
    a
        color: #d6aa01
        &:hover
            color: #d6aa01