@import "__template.sass"

.blue
    color: #0d56a6

.search
    margin: 2px 0
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
    .arrow-back
        padding: 10px 0
        display: flex
        align-items: center
        justify-content: center
        &:hover
            text-decoration: none
            color: transporent
        p
            position: relative
            margin: 0
            padding-left: 5px
            color: #9b7d04
            &::after
                content: ""
                position: absolute
                width: 100%
                height: 1px
                bottom: -3px
                left: 3px
                background-color: rgba(0, 0, 0, 0.2)
                
    .d1
        margin-top: 13px
        margin-bottom: 30px
        width: 100%
        form
            position: relative
            width: 100%
            margin: 0 auto
            background-color: #dedede
            opacity: 0.5
            border-radius: 10px
            input, button
                border: none
                outline: none
                background: transparent
            input
                color: rgba(0, 0, 0, 0.7)
                font-size: 24px
                width: 85%
                height: 35px
                padding-left: 15px
                &::placeholder
                    color: rgba(0, 0, 0, 0.3)
                    font-size: 16px
                    transform: translateY(-3px)
            button
                position: absolute
                top: -15px
                right: 5px
                width: 42px
                height: 67px
                border: none
                cursor: pointer
                transform: scale(0.5)

.product
    margin-bottom: 110px
    font-family: "Roboto", sans-serif
    &__title
        height: 590px
        display: flex
        align-items: flex-start
        justify-content: space-between
        &--photo
            min-width: 531px
            height: 100%
            img
                width: 100%
                height: 100%
        &--block
            margin-left: 112px
            width: 625px
            height: 579px
        &--head
            width: 498px
            border-bottom: 1px solid rgba(0, 0, 0, 0.2)
            h1
                font-size: 32px
                font-weight: 600
                line-height: 37px
        &--desc
            &--choice
                margin-left: 100px
            margin-top: 25px
            display: flex
            align-items: center
            &--property
                width: 394px
                overflow-x: hidden
                p
                    font-size: 22px
                    font-weight: 300
                    line-height: 26px
                .property__block
                    margin-top: 20px
                    font-size: 15px
                    line-height: 18px
                    font-weight: 300
                    width: 100%
                    .brend,
                    .model,
                    .country,
                    .square,
                    .mode,
                    .guarantee
                        display: table
                        margin-bottom: 10px
                        width: 100%
                        white-space: nowrap
                        .key
                            display: table-cell
                        .value
                            width: 100%
                            display: table-cell
                            text-align: right
                            font-weight: 300
                        .dotted
                            display: table-cell
                            width: 100%
                            border-bottom: 1px solid rgba(0, 0, 0, 0.25)
        &--price
            width: 377px
            margin-top: 25px
            display: flex
            align-items: center
            justify-content: space-between

            color: $blue-main
            p
                font-size: 46px
                font-weight: 600
                line-height: 54px
                margin: 0
            span
                font-size: 16px
                font-weight: 300
                line-height: 19px
        .availability
            margin-top: 20px
            margin-bottom: 0
            justify-content: flex-start
        .add-to-cart
            margin-top: 15px
            width: 575px
            display: flex
            justify-content: space-between
            .cart-button
                cursor: pointer
                display: flex
                align-items: center
                justify-content: center
                width: 299px
                height: 70px
                background-color: #ffe373
                border: 1px solid #000
                border-radius: 10px
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
                &:active
                    box-shadow: none
                .cart-icon
                    width: 35px
                    height: 35px
                    background: url(../images/cartIcon.png)
                .cart-text
                    margin-left: 17px
                    font-size: 16px
                    font-weight: 600
            .payment
    &__description
        width: 1347px
        margin-left: auto
        &--block
            width: 534px
            height: 372px
            h1
                font-size: 30px
                line-height: 35px
                font-weight: 500
            p
                margin-top: 18px
                font-size: 16px
                line-height: 19px
                font-weight: 300
                &:first-child
                    margin-top: 35px
        &--buttons
            margin-top: 110px
            display: flex
            align-items: center
            justify-content: center
            .button-description,
            .button-property
                cursor: pointer
                display: flex
                align-items: center
                justify-content: center
            .button-description
                width: 178px
                height: 35px
            .button-property
                width: 220px
                height: 35px
        &--title
            margin-top: 46px
            display: flex
            align-items: center
            justify-content: space-between
            height: 432px
        &--left
            width: 628px
            height: 335px
        &--right
            display: flex
            align-items: center
            justify-content: center
            width: 680px
            height: 432px
            background-color: #fff7d9
            box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25)
            border-radius: 10px 0 0 10px
    &__description2
        margin-top: 46px
        &--title
            text-align: center
            display: flex
            .title__property,
            .title__special
                width: 720px
                height: 542px
                box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25)
            .title__property,
            .title__special
                display: flex
                flex-direction: column
                align-items: center
                h1
                    margin: 30px 0 45px
                    font-size: 30px
                    font-weight: 500
                    line-height: 35px
            .title__property
                background-color: #fff7d9
                .property__desc
                    width: 682px
                    height: 395px
                    &--block
                        width: 100%
                        .type,
                        .square,
                        .invertor,
                        .class,
                        .mode,
                        .range,
                        .power-in-cold,
                        .power-in-hot,
                        .power-input-in-cold,
                        .power-input-in-hot,
                        .drainage,
                        .controller,
                        .timer
                            display: table
                            width: 100%
                            white-space: nowrap
                            font-size: 14px
                            line-height: 16px
                            font-weight: 300
                            padding-top: 9px
                            .key
                                display: table-cell
                            .value
                                width: 100%
                                text-align: right
                                display: table-cell
                            .dotted
                                display: table-cell
                                width: 100%
                                border-bottom: 1px solid rgba(0, 0, 0, 0.25)
            .title__special
                .special__desc
                    width: 654px
                    height: 364px
                    &--text
                        text-align: left
                        h2
                            font-size: 16px
                            font-weight: 500
                            line-height: 19px
                            color: $blue-main
                        p
                            font-size: 14px
                            font-weight: 400
                            line-height: 16px
    &__favorite
        margin-top: 86px
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &--title
            position: relative
            h1
                font-family: "Montserrat", sans-serif
                font-weight: bold
                font-size: 36px
                line-height: 44px
            &::before
                content: ""
                position: absolute
                width: 100%
                top: 50%
                left: -100%
                height: 1px
                background-color: rgba(0, 0, 0, 0.2)
            &::after
                content: ""
                position: absolute
                overflow: hidden
                width: 100%
                top: 50%
                right: -100%
                height: 1px
                background-color: rgba(0, 0, 0, 0.2)
        .wrapper
            margin-top: 42px