@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  overflow-x: hidden !important;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.pt24 {
  padding-top: 24px !important;
}

.h95 {
  height: 95% !important;
}

.active {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0D56A6;
  color: #fff !important;
  border: 1px solid #FFCB00;
}

.availability {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.availability .item-stock, .availability .item-order {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.availability .item-stock {
  background: url(../images/icon-stock.png) no-repeat center;
}

.availability .item-order {
  background: url(../images/icon-order.png) no-repeat center;
}

.availability p {
  margin: 0 0 0 5px;
}

.stock {
  color: #2ECC71 !important;
}

.order {
  color: #F1C40F !important;
}

.active-dot {
  background-color: #fffdf7 !important;
}

.btn-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(13, 86, 166, 0.7);
}

.dropdown--menu {
  display: none;
  width: 262px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 7.5rem;
  background-color: #0D56A6;
  color: #fff;
  border-radius: 0 10px 10px 0;
  z-index: 200;
}

.dropdown--menu .close-window {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
}

.dropdown--menu ul {
  position: relative;
  z-index: 10001;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown--menu ul li {
  width: 233px;
  padding: 23px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 203, 0, 0.36);
}

.dropdown--menu ul li:last-child {
  border-bottom: none;
}

.dropdown--menu ul li a {
  color: #fff;
}

.dropdown--menu ul li a:hover {
  text-decoration: none;
}

.dropdown--menu ul li .page-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfjcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding: 0 !important;
}

.header {
  background-color: #FFCB00;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  color: #000;
  text-decoration: none;
}

.header__title {
  width: 165px;
  height: 86px;
}

.header__title h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

.header__title p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
}

.header__menu {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #000;
}

.header__menu--link:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 1.1% 0;
  background-color: #FFE373;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu--cart:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search {
  margin: 30px 0;
}

.search .arrow-back {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .arrow-back:hover {
  text-decoration: none;
  color: transporent;
}

.search .arrow-back p {
  position: relative;
  margin: 0;
  padding-left: 5px;
  color: #9b7d04;
}

.search .arrow-back p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search .d1 {
  margin-top: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.search .d1 form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #dedede;
  opacity: 0.5;
  border-radius: 10px;
}

.search .d1 form input, .search .d1 form button {
  border: none;
  outline: none;
  background: transparent;
}

.search .d1 form input {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  width: 100%;
  height: 67px;
  padding-left: 15px;
}

.search .d1 form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 42px;
  height: 67px;
  border: none;
  cursor: pointer;
}

.footer {
  font-family: "Roboto", sans-serif;
  height: 240px;
  background-color: #FFCB00;
  padding: 30px 0;
}

.footer .container {
  height: 100%;
}

.footer .row {
  height: 100%;
}

.footer__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo .header-link {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  line-height: 28px;
}

.footer__logo .header-link:hover {
  text-decoration: none;
}

.footer__logo .p-link {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
}

.footer__logo .p-link:hover {
  text-decoration: none;
}

.footer__menu {
  height: 50px;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul li {
  width: 106px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 123px;
}

.footer__menu ul li:last-child {
  margin-right: 0;
}

.footer__menu ul li a {
  color: #000;
}

.footer__menu ul li a:hover {
  text-decoration: none;
}

.footer__icons {
  text-align: right;
}

.footer__icons a {
  margin-left: 20px;
}

.footer__icons a:first-child {
  margin-left: 0;
}

.catalog__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards--title {
  width: 85.4%;
  height: 345px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__cards--card {
  width: 254px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .img {
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
  color: #0D56A6;
}

.catalog__cards--card .price {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin: 25px 0;
  color: #0D56A6;
}

.catalog__cards--card .availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__cards--card .availability .item {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.catalog__cards--card .availability p {
  margin-left: 5px;
}

.catalog__cards--card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 35px;
  background-color: rgba(13, 86, 166, 0.7);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.catalog__cards--card a:hover {
  color: #fff;
  text-decoration: none;
}

.blue {
  color: #0d56a6;
}

.search {
  margin: 2px 0;
}

.search .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .arrow-back {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .arrow-back:hover {
  text-decoration: none;
  color: transporent;
}

.search .arrow-back p {
  position: relative;
  margin: 0;
  padding-left: 5px;
  color: #9b7d04;
}

.search .arrow-back p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search .d1 {
  margin-top: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.search .d1 form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #dedede;
  opacity: 0.5;
  border-radius: 10px;
}

.search .d1 form input, .search .d1 form button {
  border: none;
  outline: none;
  background: transparent;
}

.search .d1 form input {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  width: 85%;
  height: 35px;
  padding-left: 15px;
}

.search .d1 form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.search .d1 form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  transform: translateY(-3px);
}

.search .d1 form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  transform: translateY(-3px);
}

.search .d1 form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.search .d1 form button {
  position: absolute;
  top: -15px;
  right: 5px;
  width: 42px;
  height: 67px;
  border: none;
  cursor: pointer;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.product {
  margin-bottom: 110px;
  font-family: "Roboto", sans-serif;
}

.product__title {
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__title--photo {
  min-width: 531px;
  height: 100%;
}

.product__title--photo img {
  width: 100%;
  height: 100%;
}

.product__title--block {
  margin-left: 112px;
  width: 625px;
  height: 579px;
}

.product__title--head {
  width: 498px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product__title--head h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 37px;
}

.product__title--desc {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title--desc--choice {
  margin-left: 100px;
}

.product__title--desc--property {
  width: 394px;
  overflow-x: hidden;
}

.product__title--desc--property p {
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
}

.product__title--desc--property .property__block {
  margin-top: 20px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  width: 100%;
}

.product__title--desc--property .property__block .brend,
.product__title--desc--property .property__block .model,
.product__title--desc--property .property__block .country,
.product__title--desc--property .property__block .square,
.product__title--desc--property .property__block .mode,
.product__title--desc--property .property__block .guarantee {
  display: table;
  margin-bottom: 10px;
  width: 100%;
  white-space: nowrap;
}

.product__title--desc--property .property__block .brend .key,
.product__title--desc--property .property__block .model .key,
.product__title--desc--property .property__block .country .key,
.product__title--desc--property .property__block .square .key,
.product__title--desc--property .property__block .mode .key,
.product__title--desc--property .property__block .guarantee .key {
  display: table-cell;
}

.product__title--desc--property .property__block .brend .value,
.product__title--desc--property .property__block .model .value,
.product__title--desc--property .property__block .country .value,
.product__title--desc--property .property__block .square .value,
.product__title--desc--property .property__block .mode .value,
.product__title--desc--property .property__block .guarantee .value {
  width: 100%;
  display: table-cell;
  text-align: right;
  font-weight: 300;
}

.product__title--desc--property .property__block .brend .dotted,
.product__title--desc--property .property__block .model .dotted,
.product__title--desc--property .property__block .country .dotted,
.product__title--desc--property .property__block .square .dotted,
.product__title--desc--property .property__block .mode .dotted,
.product__title--desc--property .property__block .guarantee .dotted {
  display: table-cell;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.product__title--price {
  width: 377px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0D56A6;
}

.product__title--price p {
  font-size: 46px;
  font-weight: 600;
  line-height: 54px;
  margin: 0;
}

.product__title--price span {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.product__title .availability {
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product__title .add-to-cart {
  margin-top: 15px;
  width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__title .add-to-cart .cart-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 299px;
  height: 70px;
  background-color: #ffe373;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.product__title .add-to-cart .cart-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product__title .add-to-cart .cart-button .cart-icon {
  width: 35px;
  height: 35px;
  background: url(../images/cartIcon.png);
}

.product__title .add-to-cart .cart-button .cart-text {
  margin-left: 17px;
  font-size: 16px;
  font-weight: 600;
}

.product__description {
  width: 1347px;
  margin-left: auto;
}

.product__description--block {
  width: 534px;
  height: 372px;
}

.product__description--block h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.product__description--block p {
  margin-top: 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.product__description--block p:first-child {
  margin-top: 35px;
}

.product__description--buttons {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__description--buttons .button-description,
.product__description--buttons .button-property {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__description--buttons .button-description {
  width: 178px;
  height: 35px;
}

.product__description--buttons .button-property {
  width: 220px;
  height: 35px;
}

.product__description--title {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 432px;
}

.product__description--left {
  width: 628px;
  height: 335px;
}

.product__description--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 680px;
  height: 432px;
  background-color: #fff7d9;
  -webkit-box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0 0 10px;
}

.product__description2 {
  margin-top: 46px;
}

.product__description2--title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__description2--title .title__property,
.product__description2--title .title__special {
  width: 720px;
  height: 542px;
  -webkit-box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
}

.product__description2--title .title__property,
.product__description2--title .title__special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__description2--title .title__property h1,
.product__description2--title .title__special h1 {
  margin: 30px 0 45px;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.product__description2--title .title__property {
  background-color: #fff7d9;
}

.product__description2--title .title__property .property__desc {
  width: 682px;
  height: 395px;
}

.product__description2--title .title__property .property__desc--block {
  width: 100%;
}

.product__description2--title .title__property .property__desc--block .type,
.product__description2--title .title__property .property__desc--block .square,
.product__description2--title .title__property .property__desc--block .invertor,
.product__description2--title .title__property .property__desc--block .class,
.product__description2--title .title__property .property__desc--block .mode,
.product__description2--title .title__property .property__desc--block .range,
.product__description2--title .title__property .property__desc--block .power-in-cold,
.product__description2--title .title__property .property__desc--block .power-in-hot,
.product__description2--title .title__property .property__desc--block .power-input-in-cold,
.product__description2--title .title__property .property__desc--block .power-input-in-hot,
.product__description2--title .title__property .property__desc--block .drainage,
.product__description2--title .title__property .property__desc--block .controller,
.product__description2--title .title__property .property__desc--block .timer {
  display: table;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  padding-top: 9px;
}

.product__description2--title .title__property .property__desc--block .type .key,
.product__description2--title .title__property .property__desc--block .square .key,
.product__description2--title .title__property .property__desc--block .invertor .key,
.product__description2--title .title__property .property__desc--block .class .key,
.product__description2--title .title__property .property__desc--block .mode .key,
.product__description2--title .title__property .property__desc--block .range .key,
.product__description2--title .title__property .property__desc--block .power-in-cold .key,
.product__description2--title .title__property .property__desc--block .power-in-hot .key,
.product__description2--title .title__property .property__desc--block .power-input-in-cold .key,
.product__description2--title .title__property .property__desc--block .power-input-in-hot .key,
.product__description2--title .title__property .property__desc--block .drainage .key,
.product__description2--title .title__property .property__desc--block .controller .key,
.product__description2--title .title__property .property__desc--block .timer .key {
  display: table-cell;
}

.product__description2--title .title__property .property__desc--block .type .value,
.product__description2--title .title__property .property__desc--block .square .value,
.product__description2--title .title__property .property__desc--block .invertor .value,
.product__description2--title .title__property .property__desc--block .class .value,
.product__description2--title .title__property .property__desc--block .mode .value,
.product__description2--title .title__property .property__desc--block .range .value,
.product__description2--title .title__property .property__desc--block .power-in-cold .value,
.product__description2--title .title__property .property__desc--block .power-in-hot .value,
.product__description2--title .title__property .property__desc--block .power-input-in-cold .value,
.product__description2--title .title__property .property__desc--block .power-input-in-hot .value,
.product__description2--title .title__property .property__desc--block .drainage .value,
.product__description2--title .title__property .property__desc--block .controller .value,
.product__description2--title .title__property .property__desc--block .timer .value {
  width: 100%;
  text-align: right;
  display: table-cell;
}

.product__description2--title .title__property .property__desc--block .type .dotted,
.product__description2--title .title__property .property__desc--block .square .dotted,
.product__description2--title .title__property .property__desc--block .invertor .dotted,
.product__description2--title .title__property .property__desc--block .class .dotted,
.product__description2--title .title__property .property__desc--block .mode .dotted,
.product__description2--title .title__property .property__desc--block .range .dotted,
.product__description2--title .title__property .property__desc--block .power-in-cold .dotted,
.product__description2--title .title__property .property__desc--block .power-in-hot .dotted,
.product__description2--title .title__property .property__desc--block .power-input-in-cold .dotted,
.product__description2--title .title__property .property__desc--block .power-input-in-hot .dotted,
.product__description2--title .title__property .property__desc--block .drainage .dotted,
.product__description2--title .title__property .property__desc--block .controller .dotted,
.product__description2--title .title__property .property__desc--block .timer .dotted {
  display: table-cell;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.product__description2--title .title__special .special__desc {
  width: 654px;
  height: 364px;
}

.product__description2--title .title__special .special__desc--text {
  text-align: left;
}

.product__description2--title .title__special .special__desc--text h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #0D56A6;
}

.product__description2--title .title__special .special__desc--text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.product__favorite {
  margin-top: 86px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__favorite--title {
  position: relative;
}

.product__favorite--title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.product__favorite--title::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: -100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.product__favorite--title::after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 50%;
  right: -100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.product__favorite .wrapper {
  margin-top: 42px;
}
/*# sourceMappingURL=product-page.css.map */