@import "__template.sass"

.services
    // filter: blur(20px)
    font-family: "Roboto", sans-serif
    &__main
        margin: 33px 0
        display: flex
        justify-content: space-between
    &__title
        width: 797px
        height: 403px
        background-color: #fff7d9
        border-radius: 0 10px 10px 0
        box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25)
        .wrapper
            display: flex
            justify-content: flex-end
        &--desc
            width: 688px
            p
                margin-top: 20px
                margin-bottom: 12px
                font-size: 25px
                line-height: 29px
                font-weight: 300
            ul
                li
                    list-style: none
                    font-size: 25px
                    line-height: 29px
                    font-weight: 300
                    color: $blue-main
                    span
                        color: #000
    &__work
        width: 575px
        height: 437px
        margin-right: 43px
        .work-img
            position: relative
            img
                width: 522px
                height: 348px
            .img-1
                position: relative
                z-index: 5
            .img-2
                position: absolute
                z-index: 3
                top: -23px
                right: 23px
            .img-3
                position: absolute
                z-index: 1
                top: -49px
                right: 0px
        a
            width: 273px
            position: relative
            display: flex
            align-items: center
            font-size: 20px
            font-weight: 300
            color: $blue-main
            &:hover
                color: $blue-main
                text-decoration: none
            &::after
                content: ""
                position: absolute
                bottom: -5px
                left: 0
                width: 100%
                border: 1px solid rgba(13, 86, 166, 0.22)
            .work-arrow
                margin-left: 10px
                width: 23px
                height: 7px
                background: url(../images/work-arrow.png) no-repeat center center
    &__callbackBtn
        cursor: pointer
        margin: 0 auto 57px
        display: flex
        align-items: center
        justify-content: center
        font-size: 16px
        font-weight: 600
        font-family: "Montserrat", sans-serif
        width: 299px
        height: 69px
        border: 1px solid #000
        border-radius: 10px
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
        background-color: #ffe373
        &:active
            box-shadow: none

.callback
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 999
    &-modal,
    &-send
        width: 634px
        position: fixed
        z-index: 1000
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: flex
        align-items: center
        background-color: #fff
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.39)
        border-radius: 10px
    &-modal
        flex-direction: column
        justify-content: space-evenly
        height: 405px
        text-align: center
        &-title
            font-size: 32px
            line-height: 37px
            font-weight: 600
        &-form
            width: 635px
            &-inputs
                width: 100%
                height: 222px
                background-color: rgba(13, 86, 166, 0.06)
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-evenly
                input
                    outline: none
                    width: 86%
                    height: 41px
                    background-color: #fff
                    border: 1px solid rgba(75, 74, 74, 0.13)
                    border-radius: 10px
                    padding-left: 18px
                    &::placeholder
                        color: rgba(0, 0, 0, 0.4)
                        font-size: 20px
                        font-weight: 300
                        line-height: 23px
        &-btn
            outline: none
            margin: 17px auto 0
            display: flex
            align-items: center
            justify-content: center
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
            border: none
            border-radius: 10px
            background-color: $blue-main
            width: 182px
            height: 45px
            color: #fff
            font-size: 15px
            line-height: 18px
            font-weight: 600
            &:active
                box-shadow: none
                outline: none
            &:focus
                outline: none
    &-send
        justify-content: center
        height: 222px
        h1
            font-size: 20px
            font-weight: 500
            line-height: 23px
    &-close-btn
        cursor: pointer
        position: absolute
        top: 0
        right: 0
        width: 37px
        height: 37px
        background-color: #F0F5FA
        // background: url(../images/plus.png) no-repeat center center
        border-radius: 0 10px
        &::after,
        &::before
            content: ""
            width: 27px
            height: 2px
            background-color: #AF4B4B
            position: absolute
            top: 50%
            left: 50%
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(-45deg)
        


.callback_blur
    filter: blur(10px)