@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  overflow-x: hidden !important;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.pt24 {
  padding-top: 24px !important;
}

.h95 {
  height: 95% !important;
}

.active {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0D56A6;
  color: #fff !important;
  border: 1px solid #FFCB00;
}

.availability {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.availability .item-stock, .availability .item-order {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.availability .item-stock {
  background: url(../images/icon-stock.png) no-repeat center;
}

.availability .item-order {
  background: url(../images/icon-order.png) no-repeat center;
}

.availability p {
  margin: 0 0 0 5px;
}

.stock {
  color: #2ECC71 !important;
}

.order {
  color: #F1C40F !important;
}

.active-dot {
  background-color: #fffdf7 !important;
}

.btn-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(13, 86, 166, 0.7);
}

.dropdown--menu {
  display: none;
  width: 262px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 7.5rem;
  background-color: #0D56A6;
  color: #fff;
  border-radius: 0 10px 10px 0;
  z-index: 200;
}

.dropdown--menu .close-window {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
}

.dropdown--menu ul {
  position: relative;
  z-index: 10001;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown--menu ul li {
  width: 233px;
  padding: 23px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 203, 0, 0.36);
}

.dropdown--menu ul li:last-child {
  border-bottom: none;
}

.dropdown--menu ul li a {
  color: #fff;
}

.dropdown--menu ul li a:hover {
  text-decoration: none;
}

.dropdown--menu ul li .page-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfjcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding: 0 !important;
}

.header {
  background-color: #FFCB00;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  color: #000;
  text-decoration: none;
}

.header__title {
  width: 165px;
  height: 86px;
}

.header__title h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

.header__title p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
}

.header__menu {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #000;
}

.header__menu--link:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 1.1% 0;
  background-color: #FFE373;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu--cart:hover {
  color: #000;
  text-decoration: none;
}

.header__menu--cart:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search {
  margin: 30px 0;
}

.search .arrow-back {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .arrow-back:hover {
  text-decoration: none;
  color: transporent;
}

.search .arrow-back p {
  position: relative;
  margin: 0;
  padding-left: 5px;
  color: #9b7d04;
}

.search .arrow-back p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search .d1 {
  margin-top: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.search .d1 form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #dedede;
  opacity: 0.5;
  border-radius: 10px;
}

.search .d1 form input, .search .d1 form button {
  border: none;
  outline: none;
  background: transparent;
}

.search .d1 form input {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  width: 100%;
  height: 67px;
  padding-left: 15px;
}

.search .d1 form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.search .d1 form button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 42px;
  height: 67px;
  border: none;
  cursor: pointer;
}

.footer {
  font-family: "Roboto", sans-serif;
  height: 240px;
  background-color: #FFCB00;
  padding: 30px 0;
}

.footer .container {
  height: 100%;
}

.footer .row {
  height: 100%;
}

.footer__title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo .header-link {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  line-height: 28px;
}

.footer__logo .header-link:hover {
  text-decoration: none;
}

.footer__logo .p-link {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
}

.footer__logo .p-link:hover {
  text-decoration: none;
}

.footer__menu {
  height: 50px;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul li {
  width: 106px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 123px;
}

.footer__menu ul li:last-child {
  margin-right: 0;
}

.footer__menu ul li a {
  color: #000;
}

.footer__menu ul li a:hover {
  text-decoration: none;
}

.footer__icons {
  text-align: right;
}

.footer__icons a {
  margin-left: 20px;
}

.footer__icons a:first-child {
  margin-left: 0;
}

.catalog__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__cards--title {
  width: 85.4%;
  height: 345px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__cards--card {
  width: 254px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .img {
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__cards--card .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
  color: #0D56A6;
}

.catalog__cards--card .price {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin: 25px 0;
  color: #0D56A6;
}

.catalog__cards--card .availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__cards--card .availability .item {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.catalog__cards--card .availability p {
  margin-left: 5px;
}

.catalog__cards--card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 35px;
  background-color: rgba(13, 86, 166, 0.7);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.catalog__cards--card a:hover {
  color: #fff;
  text-decoration: none;
}

.services {
  font-family: "Roboto", sans-serif;
}

.services__main {
  margin: 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__title {
  width: 797px;
  height: 403px;
  background-color: #fff7d9;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.25);
}

.services__title .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services__title--desc {
  width: 688px;
}

.services__title--desc p {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 25px;
  line-height: 29px;
  font-weight: 300;
}

.services__title--desc ul li {
  list-style: none;
  font-size: 25px;
  line-height: 29px;
  font-weight: 300;
  color: #0D56A6;
}

.services__title--desc ul li span {
  color: #000;
}

.services__work {
  width: 575px;
  height: 437px;
  margin-right: 43px;
}

.services__work .work-img {
  position: relative;
}

.services__work .work-img img {
  width: 522px;
  height: 348px;
}

.services__work .work-img .img-1 {
  position: relative;
  z-index: 5;
}

.services__work .work-img .img-2 {
  position: absolute;
  z-index: 3;
  top: -23px;
  right: 23px;
}

.services__work .work-img .img-3 {
  position: absolute;
  z-index: 1;
  top: -49px;
  right: 0px;
}

.services__work a {
  width: 273px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 300;
  color: #0D56A6;
}

.services__work a:hover {
  color: #0D56A6;
  text-decoration: none;
}

.services__work a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border: 1px solid rgba(13, 86, 166, 0.22);
}

.services__work a .work-arrow {
  margin-left: 10px;
  width: 23px;
  height: 7px;
  background: url(../images/work-arrow.png) no-repeat center center;
}

.services__callbackBtn {
  cursor: pointer;
  margin: 0 auto 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 299px;
  height: 69px;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffe373;
}

.services__callbackBtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.callback {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.callback-modal, .callback-send {
  width: 634px;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.39);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}

.callback-modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 405px;
  text-align: center;
}

.callback-modal-title {
  font-size: 32px;
  line-height: 37px;
  font-weight: 600;
}

.callback-modal-form {
  width: 635px;
}

.callback-modal-form-inputs {
  width: 100%;
  height: 222px;
  background-color: rgba(13, 86, 166, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.callback-modal-form-inputs input {
  outline: none;
  width: 86%;
  height: 41px;
  background-color: #fff;
  border: 1px solid rgba(75, 74, 74, 0.13);
  border-radius: 10px;
  padding-left: 18px;
}

.callback-modal-form-inputs input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

.callback-modal-form-inputs input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

.callback-modal-form-inputs input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

.callback-modal-form-inputs input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

.callback-modal-btn {
  outline: none;
  margin: 17px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  background-color: #0D56A6;
  width: 182px;
  height: 45px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.callback-modal-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.callback-modal-btn:focus {
  outline: none;
}

.callback-send {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 222px;
}

.callback-send h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.callback-close-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 37px;
  background-color: #F0F5FA;
  border-radius: 0 10px;
}

.callback-close-btn::after, .callback-close-btn::before {
  content: "";
  width: 27px;
  height: 2px;
  background-color: #AF4B4B;
  position: absolute;
  top: 50%;
  left: 50%;
}

.callback-close-btn::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.callback-close-btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.callback_blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
/*# sourceMappingURL=services.css.map */